 <!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
          <form id="edit_form" class="col s12" action="" method="">
            <div class="row">
                <h4>Item Edit Form</h4>
              <div class="input-field col s6">
                <i class="material-icons prefix">shop</i>
                <input id="item_name" type="text" class="validate" name="name">
                <label for="item_name">Item Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">request_quote</i>
                <input id="price" type="tel" class="validate" name="price">
                <label for="price">Item Price</label>
              </div>
            </div>
            <button class="btn blue lighten-2">Edit Item</button>
          </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red modal-close">Close</button>
    </div>
</div>